<h2>Movie details</h2>


<p>Title: {{movie.title}}</p>
<p>Genre: {{movie.genre}}</p>
<p>Plot: {{movie.plot}}</p>


<p>Cast: </p>


<p>Name: {{movie.cast.name}}</p>
<p>Occupation: {{movie.cast.occupation}}</p>
<p>Catch Phrase: {{movie.cast.catchPhrase}}</p>